
body{
    background-color: #191919;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #f9f9f9;
    
}

nav {
  display: flex; 
  justify-content: space-around;
  float: right;
}

.container {
  padding-top: 100px;
}

li {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 10;
  }

h1{
    font-size: 52px;
    text-align: center;
    margin: 40px 0 60px 0;
}

button{
    color: #f9f9f9;
    margin: 10px;
    padding: 16px 25px;
    border: none;
    border-radius: 26px;
    box-shadow: 5px 5px 10px #111;
    transition: 0.25s;
    background-color: rgba(249,249,249,0.035);
    display: inline-block;
}
button:hover{
    box-shadow: none;
    background-color: #252525;
    cursor: pointer;
}

input[type=number]{
    width: 100px;
    border: 0;
    font-size: 16px;
    text-align: left;
    padding: 6px 18px;
    background-color: #252525;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    text-align: left;
    box-shadow: 5px 5px 10px #111;
    transition: 0.25s;
}

.getButtons{
    
}

#infoHer{
    float: bottom;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border: cadetblue 2px solid;
}

.outerman{
    width: 100%;
    display: flex;
    justify-content: center;

}

a {
  color: #03e9f4;
}

/* Styling login page */


/* Web auto-fill in styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: black inset !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
  }
  
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
  }
  
 
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
  }
  
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
  }
  