body{
    background-color: #191919;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #f9f9f9;
    
}

head {
   margin:0px;
   margin-top:60px;
   padding: 0px;
}

nav {
  display: flex;
  top:0;
  margin: 0;
  width: 100%;
  justify-content: space-between;
  overflow: auto;
  height: auto;
}

canvas {
  height: 50vh !important;
  width: 60vw !important;
  padding-left: 18vw !important;
  
}

.grid {
  display: grid;
  grid-template-columns: 195px 195px 195px 195px 195px;
}

.item {
  margin: 20px;
  margin-bottom: 20px;
}

.colored {
  font-size: 15px;
  color: #408e92;
}

li {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 10;
  }

h1 {
    color: #3e9196;
    font-size: 52px;
    text-align: center;
    margin: 40px 0 60px 0;
}

button{
    color: #f9f9f9;
    margin: 10px;
    padding: 16px 25px;
    border: none;
    border-radius: 26px;
    box-shadow: 5px 5px 10px #111;
    transition: 0.25s;
    background-color: rgba(249,249,249,0.035);
    display: inline-block;
}
button:hover{
    box-shadow: none;
    background-color: #252525;
    cursor: pointer;
}

input[type=number]{
    width: 100px;
    border: 0;
    font-size: 16px;
    text-align: left;
    padding: 6px 18px;
    background-color: #252525;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    text-align: left;
    box-shadow: 5px 5px 10px #111;
    transition: 0.25s;
}

#infoHer{
    float: bottom;
    min-height: 300px;
    width: 69.5vw;
    margin: 0 auto;
    margin-top: 50px;
    border: cadetblue 2px solid;
}

.outerman{
    width: 100%;
    display: flex;
    justify-content: center;

}

a {
  color: cadetblue;
  text-align: center;
  font-size: 20px;
}

/* Styling login page */


/* Web auto-fill in styling */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: black inset !important;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: white;
}

.login-screen {
  background-size: auto auto !important;
  background-image: url('../assets/login-back.jpg');
  background-size: cover !important; 
  background-position: center center;
  background-repeat: no-repeat;
  margin: auto;
  
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
  }
  
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
  }
  
 
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
  }
  
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
  }


  /* Search bar styling **/

  
  
  /* Active state */
  .search-bar input:focus + .search-btn,
  .search-bar input:valid + .search-btn {
    background: cadetblue;
    border-radius: 0 0.375em 0.375em 0;
    transform: scale(1);
  }
  .search-bar input:focus + .search-btn:before, 
  .search-bar input:focus + .search-btn:after,
  .search-bar input:valid + .search-btn:before, 
  .search-bar input:valid + .search-btn:after {
    opacity: 1;
  }
  .search-bar input:focus + .search-btn:hover,
  .search-bar input:valid + .search-btn:hover,
  .search-bar input:valid:not(:focus) + .search-btn:focus {
    background: cadetblue;
  }
  .search-bar input:focus + .search-btn:active,
  .search-bar input:valid + .search-btn:active {
    transform: translateY(1px);
  }
  
  @media screen and (prefers-color-scheme: dark) {
    body, input {
      color: #f1f1f1;
    }
    body {
      background: #171717;
    }
    .search-bar input {
      box-shadow: 0 0 0 0.4em #f1f1f1 inset;
    }
    .search-bar input:focus,
    .search-bar input:valid {
      background: #3d3d3d;
      box-shadow: 0 0 0 0.1em #3d3d3d inset;
    }
    .search-btn {
      background: #f1f1f1;
    }
  }

#fade body {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
