
body{
    background-color: #191919;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    color: #f9f9f9;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

h1{
    font-size: 52px;
    text-align: center;
    margin: 40px 0 60px 0;
}

button{
    color: #f9f9f9;
    margin: 10px;
    padding: 16px 25px;
    border: none;
    border-radius: 26px;
    box-shadow: 5px 5px 10px #111;
    transition: 0.25s;
    background-color: rgba(249,249,249,0.035);
    display: inline-block;
}
button:hover{
    box-shadow: none;
    background-color: #252525;
    cursor: pointer;
}

input[type=number]{
    width: 100px;
    border: 0;
    font-size: 16px;
    text-align: left;
    padding: 6px 18px;
    background-color: #252525;
    color: #fff;
    border-radius: 24px;
    transition: 0.25s;
    text-align: left;
    box-shadow: 5px 5px 10px #111;
    transition: 0.25s;
}

.getButtons{
    width: 50%;
}

#infoHer{
    float: bottom;
    min-height: 300px;
    margin: 0 auto;
    margin-top: 50px;
    border: cadetblue 2px solid;
}

.outerman{
    width: 100%;
    display: flex;
    justify-content: center;

}